@media only screen and (min-width: 600px) {
  .card-new {
    background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    border-radius: 1em;
    margin: 0px 0px;
    padding: 6em 0em;
  }

  .card-img {
    text-align: left;
  }

  .card-text {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .card-new {
    background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    border-radius: 1em;
    margin: 0px 0px;
  }

  .card-img {
    height: 390px;
    text-align: center;
  }

  .card-text {
    height: 196px;
    text-align: center;
    padding-top: 1.5em;
  }

  .card-project-description {
    display: none;
  }
}
